@{    Layout = null; }

<div class="player">
    <div class="editor-label">
        <label for="Players_@(ViewBag.PlayerIndex)__Name">Player Name</label>
    </div>
    <div class="editor-field">
        <input id="Players_@(ViewBag.PlayerIndex)__Name" name="Players[@(ViewBag.PlayerIndex)].Name" type="text" value="" />
    </div>
</div>
