@model KtcProject1.Models.Game

@{
    ViewBag.Title = "Start";
}

<h2>Round @Model.Round</h2>

<div>
@foreach (var p in Model.Players)
{
    <div>
        <p>@p.Name.ToString()</p>
        <p>Fumbles: @p.Fumbles</p>
        <p>Chimneys: @p.Chimneys</p>
    </div>
}
</div>

