@model KtcProject1.Models.Player

<div class="player">
    <div class="editor-label">
        @Html.LabelFor(x => x.Name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.Name)
    </div>
</div>
