@model KtcProject1.Models.Player

<div class="player">
    <div class="editor-label">
        @Html.LabelFor(player => player.Name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(player => player.Name)
        @Html.ValidationMessageFor(player => player.Name)
    </div>
</div>
